<?xml version="1.1" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite01">
  <parameter name="myservice" value="https://myservices-cacct-c4c305ed4f0749aa8798ec2ec16a5a80.console.c9qa132.oc9qadev.com/mycloud/cloudportal/dashboard"/>
  <parameter name="username" value="nana.jia@oracle.com" />
  <parameter name="password" value="C9_Compute123" />
  <test name="Test">
    <classes>
      <class name="Testcase.MyserviceUI"/>
    </classes>
  </test> 
</suite>